<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Store</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" >
</head>
<body>
    <header class="d-inline-block">
        <nav class="navbar navbar-expand-lg bg-secondary fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Book Store</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">Book</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/authorList">Author</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container mt-5">
        <br>
        <h1 class="text-center">DANH SÁCH TÁC GIẢ CÓ SÁCH ĐANG BÁN</h1>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Thêm tác giả
        </button>
        <table class="table table-striped mt-3 table-responsive">
            <thead>
            <tr>
                <th scope="col">Tên tác giả</th>
                <th scope="col">Ngày sinh</th>
                <th scope="col">Địa chỉ</th>
            </tr>
            </thead>
            <tbody id="root">
            </tbody>
        </table>
        <br>
        <br>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Thêm tác giả</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <h5 id="success-message" class="text-info"></h5>
                            <h5 id="fail-message" class="text-danger"></h5>
                            <div class="mb-2">
                                <label for="fullName" class="form-label">Tên tác giả</label>
                                <input type="text" class="form-control" id="fullName" required>
                            </div>
                            <div class="mb-2">
                                <label for="dob" class="form-label">Ngày sinh</label>
                                <input type="text" class="form-control" id="dob" required placeholder="yyyy-MM-dd">
                            </div>
                            <div class="mb-2">
                                <label for="address" class="form-label">Địa chỉ</label>
                                <input type="text" class="form-control" id="address" required>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-primary" href="/authorList" id="reload">Quay lại trang tác giả</a>
                        <button type="button" class="btn btn-primary" id="button" onclick="createAuthor()">Thêm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="border-top text-center pt-3 pb-3 fixed-bottom bg-secondary">
        <div class="">
            &copy; 2024 - Book Store
        </div>
    </footer>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js" ></script>
    <script src="/js/author.js" ></script>
</body>
</html>