<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Book Store</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" >
</head>
<body>
    <header th:fragment="header" class="d-inline-block">
        <nav class="navbar navbar-expand-lg bg-secondary fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/}">Book Store</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/}">Book</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/authorList}">Author</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <footer th:fragment="footer" class="border-top text-center pt-3 pb-3 fixed-bottom bg-secondary">
        <div class="">
            &copy; 2024 - Book Store
        </div>
    </footer>

    <div th:fragment="script">
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.bundle.min.js" ></script>
    </div>


</body>
</html>